* {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Darker Grotesque', sans-serif;
}

.form {
    position: absolute;
    height: 50%;
    width: 50%;
    border: 1px gray solid;
    top: 25%;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 30px;
    margin: 5px;
}

h2 {
    font-size: 20px;
    margin: 5px;
    margin-bottom: 20px;
}

input {
    border: none;
    text-align: center;
    font-size: 20px;
    outline: none;
}

.q {    
}